
body {
  background: darkslateblue;
  font-family: 'Fredoka One', cursive;
  color: white;
}

li {
  display: flex;
  justify-content: space-between;
}

.time {
  background-image: url('./sky.jpg');
  width: 500px;
  height: 300px;
  
}